<nav>
  <a class="h1" href="/">API Receitas</a>

  <div id="input-container" *ngIf="shouldGoBack == 'true'">
    <button (click)="this.goBack()"><span>←</span> Retornar para pagina inicial</button>
  </div>
  <form method="GET" action="http://localhost:4200/" id="input-container" *ngIf="shouldGoBack == 'false'">
    <input type="text" name="name" [value]="searchQuery" placeholder="Pesquise por um nome" />
    <span>ou</span>
    <input type="text" name="ingredients" [value]="searchQuery" placeholder="ingredientes" />
    <input type="submit" style="display: none" />
  </form>
</nav>
